body
{

   /* background-image: url('/image/background_bright.png'); */
   background-repeat: repeat;
   background-position: top left;
   background-attachment: scroll;
   background-color: #fff;
   color: black;

}


/*  google like button
.button
{
    font-size: 14px;
    font-weight: bold;
    background-color: #f2f2f2;
    border-radius: 2px;
    height: 33px;
    width: 120px;
    border: 1px solid #f2f2f2;
    color: #757575;
}


.button:hover
{
    border: 1px solid #c6c6c6;
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    color: #202020;
}
*/


/*  dark style button */
.button
{
    font-size: 14px;
    font-weight: bold;
    background-color: #202020;
    border-radius: 2px;
    height: 33px;
    width: 120px;
    border: 1px solid #101010;
    color: #ffffff;
    
    /* predifine for mobile device */
    background-position: -288px -128px;
}


.button:hover
{
    border: 1px solid #101010;
    background-color: #303030;
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    color: #ffffff;
}





.icon-title
{
    background-position: 0px 0px;
    width: 320px;
    height: 30px;
}


.mainform_search
{
    background-color: #f6f6f6;
}




ul
{
    color: black;
}

a:link
{
   color:#000000;
   text-decoration:none;
}


a:hover
{
   0color:#1111bb;
   text-decoration:underline;
   
   0color:#9b7e60;
}

a:visited
{
   color:#000000;
}


#format-filter a:visited
{
    color:#000000;
}


.invert 
{

}



#google-div{
    background-color: white;
}

#google-iframe
{
    
}


#forum-div{
    background-color: white;
}


.span-des{
    color: #111; 
    font-size: small;
}

.span-host{
    0color: #006621;
    font-size: 14px;   
    font-style: normal;
    
    0color: #ab8e70;
    color: #A0522D; /* sienna */
}


.highlight{
    0color: #44e;
    color: #A52A2A /* brown */
}





.logo-text
{
    vertical-align: top;
    margin-bottom: 10px;
    display:inline-block;
    
    font-weight: bold;
    
    0font-size: 18px;
    0color:#448;
    0text-shadow: 10px 10px 1px #77a;
    
    color:#6b4e30;
    font-size: 21px;
    font-family: sans-serif;
}


#theme-div img
{
    margin-left: 0px;
}

#info-div img
{
    margin-left: -60px;
}


#theme-div img:hover,
#info-div img:hover
{
    opacity: 0.6;
}


#donate-div img:hover
{
    filter: brightness(80%);
    -webkit-filter: brightness(80%);
    -moz-filter: brightness(80%);
    -o-filter: brightness(80%);
    -ms-filter: brightness(80%);
}
